#root .main-page .main-wrapper {
  width: 100%;
  position: relative;
}
#root .main-page .main-wrapper .main-section1 {
  width: 100%;
  background-image: url(/src/page/img/section1-background.png);
  background-image: -webkit-image-set(url(/src/page/img/section1-background.png) 1x, url(/src/page/img/section1-background@2x.png) 2x, url(/src/page/img/section1-background@3x.png) 3x);
  height: 744px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#root .main-page .main-wrapper .main-section1 .main-section1-background {
  position: absolute;
  top: 330px;
  width: 100%;
  height: 416px;
  background: linear-gradient(360deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  text-align: center;
}
#root .main-page .main-wrapper .main-section1 .main-section1-background .section1-text {
  padding-top: 239px;
  font-weight: 700;
  font-size: 40px;
  line-height: 75px;
}
#root .main-page .main-wrapper .main-section1 .main-section1-background .section1-sub-text {
  font-weight: 700;
  font-size: 25px;
}
#root .main-page .main-wrapper .main-section2 {
  padding-top: 73px;
  padding-bottom: 52px;
}
#root .main-page .main-wrapper .main-section2 .section2-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#root .main-page .main-wrapper .main-section2 .section2-wrapper .section2-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root .main-page .main-wrapper .main-section2 .section2-wrapper .section2-scroll .section2-scroll-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #f4f5f5;
}
#root .main-page .main-wrapper .main-section2 .section2-wrapper .section2-scroll .section2-scroll-wrapper > img {
  width: 32px;
}
#root .main-page .main-wrapper .main-section2 .section2-wrapper .section2-scroll > .text {
  margin-top: 5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #a9a9a9;
}
#root .main-page .main-wrapper .main-section2 .section2-wrapper .section2-logo {
  margin-top: 87px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root .main-page .main-wrapper .main-section2 .section2-wrapper .section2-logo > img {
  width: 385px;
  text-align: center;
}
#root .main-page .main-wrapper .main-section2 .section2-wrapper .section2-content {
  margin-top: 71px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
}
#root .main-page .main-wrapper .main-section2 .section2-wrapper .section2-content .section2-content-box {
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root .main-page .main-wrapper .main-section2 .section2-wrapper .section2-content .section2-content-box > img {
  width: 137px;
  height: 137px;
  margin-bottom: 22px;
}
#root .main-page .main-wrapper .main-section2 .section2-wrapper .section2-content .section2-content-box > .title {
  font-weight: 700;
  margin: 35px 0px 15px 0px;
  font-size: 30px;
}
#root .main-page .main-wrapper .main-section2 .section2-wrapper .section2-content .section2-content-box > .sub {
  font-weight: 500;
  font-size: 20px;
}
#root .main-page .main-wrapper .main-section2 .section2-wrapper > .section2-head {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 145px;
  width: 143px;
  height: 38px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 23px;
  font-weight: 700;
  font-size: 16px;
}
#root .main-page .main-wrapper .main-section3 {
  background: #ebe9ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#root .main-page .main-wrapper .main-section3 .section3-top-img {
  position: absolute;
  top: -2px;
}
#root .main-page .main-wrapper .main-section3 .section3-background-green {
  width: 100%;
  height: 745px;
  border: 1px solid transparent;
  border-top: 50px;
  background: #2b9649;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 1060px;
}
#root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper > img {
  top: -40px;
  z-index: 10;
  width: 180px;
  height: 1130px;
  position: absolute;
}
#root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper > .left-arrow {
  position: absolute;
  top: 350px;
  left: 220px;
}
#root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper > .right-arrow {
  position: absolute;
  top: 410px;
  right: 220px;
}
#root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper .section3-content {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 392px);
  row-gap: 123px;
  -moz-column-gap: 400px;
       column-gap: 400px;
  top: 184px;
}
#root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper .section3-content .section3-content-box {
  text-align: center;
}
#root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper .section3-content .section3-content-box > img {
  margin-bottom: 15px;
  width: 72px;
}
#root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper .section3-content .section3-content-box > .text {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 30px;
  color: white;
}
#root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper .section3-content .section3-content-box > .sub {
  font-weight: 500;
  font-size: 20px;
  color: white;
}
#root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper .section3-content .sodium {
  margin-top: 40px;
}
#root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper .section3-content .sodium > img {
  width: 66px;
}
#root .main-page .main-wrapper .main-section3 .section3-bottom-img > img {
  width: 100%;
}
#root .main-page .main-wrapper .main-section4 {
  height: 1659px;
}
#root .main-page .main-wrapper .main-section4 .section4-wrapper {
  height: 961px;
  background: #eae8ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-content-mb .section4-content-box-mb {
  display: none;
}
#root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-back-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-back-img > .text {
  padding-top: 133px;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
}
#root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-back-img > .text > span {
  font-weight: 400;
}
#root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-back-img > img {
  margin-top: 115px;
  width: 436px;
}
#root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-gradation {
  width: 100%;
  position: absolute;
  top: 961px;
  height: 698px;
  background: linear-gradient(180deg, #e8e6eb 0%, rgba(235, 233, 238, 0) 100%);
}
#root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-content {
  position: absolute;
  z-index: 10;
  display: grid;
  gap: 30px;
  top: 817px;
  grid-template-columns: repeat(3, 364px);
}
#root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-content .section4-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-content .section4-content-box > .title {
  margin-bottom: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 349px;
  height: 67px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 17px;
  color: white;
  font-weight: 400;
  font-size: 23px;
  position: relative;
}
#root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-content .section4-content-box .title:after {
  border-top: 40px solid rgba(0, 0, 0, 0.8);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
  position: absolute;
  bottom: 0px;
  margin-bottom: -40px;
}
#root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-content .section4-content-box > img {
  margin-bottom: 44px;
}
#root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-content .section4-content-box > .sub {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}
#root .main-page .main-wrapper .main-section5 {
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#root .main-page .main-wrapper .main-section5 .section5-head {
  width: 177px;
  height: 38px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 16px;
}
#root .main-page .main-wrapper .main-section5 .section5-text {
  margin-top: 60px;
  font-weight: 300;
  font-size: 50px;
  line-height: 75px;
}
#root .main-page .main-wrapper .main-section5 .section5-text > span {
  font-weight: 400;
  width: 20px;
}
#root .main-page .main-wrapper .main-section5 .section5-text > .set {
  -webkit-text-emphasis: filled #2b9649;
          text-emphasis: filled #2b9649;
}
#root .main-page .main-wrapper .main-section5 > .section5-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 80px;
}
#root .main-page .main-wrapper .main-section5 > .section5-content .section5-text-box {
  width: 630px;
  height: 139px;
  background: #2b9649;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#root .main-page .main-wrapper .main-section5 > .section5-content .section5-text-box > .text {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}
#root .main-page .main-wrapper .main-section5 > .section5-content .section5-text-box > .text > span {
  font-weight: 700;
}
#root .main-page .main-wrapper .main-section5 > .section5-content > img {
  top: 135px;
  position: absolute;
  width: 406px;
  left: 50%;
  transform: translate(-50%, 0%);
}
#root .main-page .main-wrapper .main-section5 > .section5-content > .arrow-pc {
  display: block;
}
#root .main-page .main-wrapper .main-section5 > .section5-content > .arrow-mb {
  display: none;
}
#root .main-page .main-wrapper .main-section5 > .section5-content .section5-background {
  position: relative;
  width: 100%;
  height: 610px;
  margin-top: 420px;
  background: linear-gradient(180deg, #ef9279 0%, #eac5a6 42.21%, #ffffff 90.32%);
  z-index: 10;
}
#root .main-page .main-wrapper .main-section5 > .section5-content .section5-back-circle {
  top: 430px;
  position: absolute;
  width: 441px;
  height: 441px;
  background: #ef9279;
  border-radius: 50%;
}
#root .main-page .main-wrapper .main-section5 > .section5-content .section5-circle {
  position: absolute;
  top: 357px;
  z-index: 100;
}
#root .main-page .main-wrapper .main-section5 > .section5-content .section5-set {
  position: absolute;
  top: 600px;
  z-index: 20;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper {
  width: 1326px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-text {
  margin-bottom: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-text .section6-head {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 16px;
  width: 177px;
  height: 38px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 23px;
  margin-bottom: 32px;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-text > .text {
  font-weight: 700;
  font-size: 30px;
  line-height: 75px;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-text > .sub {
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-content {
  display: flex;
  gap: 26px;
  position: relative;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-content .section6-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-content .section6-content-box > .title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  color: white;
  width: 120px;
  height: 52px;
  background: rgba(43, 150, 73, 0.6);
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-content .section6-content-box > img {
  margin-bottom: 11px;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-content .section6-content-box > .sub {
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail {
  margin-top: 184px;
  width: 100%;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail > .text {
  font-weight: 700;
  font-size: 30px;
  line-height: 75px;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper {
  display: flex;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-img {
  width: 484px;
  height: 78px;
  margin-left: 129px;
  margin-right: 172px;
  margin-top: 72px;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-img > img {
  width: 78px;
  height: 484px;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-content-detail {
  padding-bottom: 334px;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-content-detail .section6-detail-box {
  width: 951px;
  border-top: 1px solid;
  display: flex;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-content-detail .section6-detail-box > .text {
  margin-left: 10px;
  width: 152px;
  margin-right: 22px;
  padding: 18px 0px 19px 0px;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
}
#root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-content-detail .section6-detail-box > .sub {
  padding: 18px 0px 19px 0px;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
}
#root .main-page .main-wrapper .main-section7 .section7-background {
  position: relative;
  width: 100%;
  background-image: url(/src/page/img/section1-background.png);
  background-image: -webkit-image-set(url(/src/page/img/section1-background.png) 1x, url(/src/page/img/section1-background@2x.png) 2x, url(/src/page/img/section1-background@3x.png) 3x);
  height: 1164px;
  background-repeat: no-repeat;
  background-size: cover;
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color {
  width: 100%;
  height: 1164px;
  position: absolute;
  background: linear-gradient(90deg, #2b9649 41.53%, rgba(43, 150, 73, 0) 100%);
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper {
  padding-top: 49px;
  padding-left: 66px;
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper > .title {
  font-weight: 700;
  font-size: 30px;
  line-height: 75px;
  color: white;
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper > .text {
  font-weight: 300;
  font-size: 50px;
  line-height: 75px;
  color: white;
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper > .text > span {
  font-weight: 400;
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper .section7-content {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper .section7-content .section7-content-input {
  padding-left: 31px;
  display: flex;
  align-items: center;
  border: 1px solid white;
  width: 704px;
  height: 90px;
  border-radius: 11px;
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper .section7-content .section7-content-input > .text {
  width: 87px;
  margin-right: 32px;
  font-weight: 700;
  font-size: 25px;
  color: white;
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper .section7-content .section7-content-input > input::-moz-placeholder {
  font-weight: 400;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.6);
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper .section7-content .section7-content-input > input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.6);
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper .section7-content .section7-content-input > input::placeholder {
  font-weight: 400;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.6);
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper .section7-content .section7-content-input > input {
  font-weight: 400;
  font-size: 25px;
  width: 415px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper .section7-cheak-box {
  cursor: pointer;
  margin-top: 30px;
  display: flex;
  align-items: center;
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper .section7-cheak-box > .cheak-box {
  margin-right: 16px;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 3px;
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper .section7-cheak-box > .text {
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: white;
}
#root .main-page .main-wrapper .main-section7 .section7-background .section7-back-color .section7-wrapper .section7-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2b9649;
  font-weight: 400;
  font-size: 35px;
  margin-top: 58px;
  width: 328px;
  height: 90px;
  background-color: white;
  border-radius: 11px;
}
#root .main-page .mb {
  display: none;
}
#root .main-page .pc {
  display: block;
}

@media screen and (max-width: 1439px) {
  #root .main-page .main-wrapper .main-section3 .section3-background-green {
    height: 758px;
  }
  #root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper {
    width: 960px;
  }
  #root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper .section3-content {
    -moz-column-gap: 200px;
         column-gap: 200px;
  }
  #root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper .section3-content .sodium {
    margin-top: 40px;
  }
  #root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper .section3-content .sodium > img {
    width: 66px;
  }
  #root .main-page .main-wrapper .main-section3 .section3-bottom-img > img {
    height: 436px;
    width: 100%;
  }
  #root .main-page .main-wrapper .main-section4 {
    height: 3103px;
  }
  #root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-gradation {
    width: 100%;
    position: absolute;
    top: 827px;
    height: 1936px;
  }
  #root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-content {
    gap: 149px;
    top: 817px;
    grid-template-columns: repeat(1, 364px);
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper {
    width: 100%;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-text {
    margin-bottom: 155px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-text .section6-head {
    margin-top: 155px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-content {
    flex-direction: column;
    align-items: center;
    gap: 118px;
    position: relative;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-content .section6-content-box {
    flex-direction: column;
    align-items: center;
    width: 650px;
    height: 264px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 268px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-img {
    width: unset;
    height: unset;
    margin-left: unset;
    margin-right: unset;
    margin-top: unset;
    margin-bottom: 109px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-content-detail {
    padding-bottom: 108px;
  }
  #root .main-page .main-wrapper .main-section7 {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  #root .main-page .main-wrapper .main-section2 .section2-wrapper .section2-logo > img {
    width: 279px;
  }
  #root .main-page .main-wrapper .main-section2 .section2-wrapper .section2-content {
    margin-top: 71px;
    display: grid;
    grid-template-columns: repeat(1, 360px);
    gap: 83px;
  }
  #root .main-page .main-wrapper .main-section3 .section3-background-green {
    height: 286px;
  }
  #root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper {
    width: unset;
  }
  #root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper > img {
    width: 72px;
    height: 449px;
  }
  #root .main-page .main-wrapper .main-section3 .section3-background-green .section3-wrapper .section3-content {
    display: none;
  }
  #root .main-page .main-wrapper .main-section3 .section3-bottom-img > img {
    height: 155px;
    width: 100%;
  }
  #root .main-page .main-wrapper .main-section3 .section3-top-img {
    width: 389px;
  }
  #root .main-page .main-wrapper .main-section4 {
    background: #ebe9ee;
    height: 3800px;
  }
  #root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-content-mb .section4-content-box-mb {
    padding-top: 98px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-content-mb .section4-content-box-mb > img {
    margin-bottom: 15px;
    width: 72px;
  }
  #root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-content-mb .section4-content-box-mb > .text {
    font-weight: 700;
    font-size: 20px;
    color: #2b9649;
    margin-bottom: 15px;
  }
  #root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-content-mb .section4-content-box-mb > .sub {
    font-weight: 500;
    color: #2b9649;
    font-size: 20px;
  }
  #root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-back-img > .text {
    width: 290px;
    line-height: 65px;
    padding-top: 129px;
  }
  #root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-back-img > img {
    width: 204px;
    height: 146px;
  }
  #root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-gradation {
    display: none;
  }
  #root .main-page .main-wrapper .main-section4 .section4-wrapper .section4-content {
    gap: 124px;
    top: 1917px;
    grid-template-columns: repeat(1, 313px);
  }
  #root .main-page .main-wrapper .main-section5 {
    padding-top: 133px;
  }
  #root .main-page .main-wrapper .main-section5 .section5-text {
    text-align: center;
    width: 320px;
    margin-top: 42px;
    font-size: 40px;
    line-height: 55px;
  }
  #root .main-page .main-wrapper .main-section5 .section5-text > .set {
    -webkit-text-emphasis: unset;
            text-emphasis: unset;
  }
  #root .main-page .main-wrapper .main-section5 > .section5-content {
    margin-top: 99px;
  }
  #root .main-page .main-wrapper .main-section5 > .section5-content .section5-text-box {
    width: 347px;
    height: 103px;
    background: #2b9649;
  }
  #root .main-page .main-wrapper .main-section5 > .section5-content .section5-text-box > .text {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
  }
  #root .main-page .main-wrapper .main-section5 > .section5-content > img {
    top: 101px;
    position: absolute;
    width: 406px;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  #root .main-page .main-wrapper .main-section5 > .section5-content > .arrow-pc {
    display: none;
  }
  #root .main-page .main-wrapper .main-section5 > .section5-content > .arrow-mb {
    display: block;
    height: 205px;
  }
  #root .main-page .main-wrapper .main-section5 > .section5-content .section5-background {
    position: relative;
    width: 100%;
    height: 372px;
    margin-top: 320px;
  }
  #root .main-page .main-wrapper .main-section5 > .section5-content .section5-back-circle {
    top: 360px;
    position: absolute;
    width: 269px;
    height: 269px;
  }
  #root .main-page .main-wrapper .main-section5 > .section5-content .section5-circle {
    top: 325px;
    width: 330px;
  }
  #root .main-page .main-wrapper .main-section5 > .section5-content .section5-set {
    position: absolute;
    top: 470px;
    z-index: 20;
    width: 262px;
    height: 152px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper {
    width: 100%;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-text {
    margin-bottom: 71px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-text .section6-head {
    margin-top: 155px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-text > .text {
    text-align: center;
    line-height: 45px;
    width: 190px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-text > .sub {
    margin-top: 21px;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-text > .sub > .mb {
    display: block;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-text > .sub > .pc {
    display: none;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-img {
    width: unset;
    height: unset;
    margin-left: unset;
    margin-right: unset;
    margin-top: unset;
    margin-bottom: 109px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-content-detail {
    padding-bottom: 108px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-content-detail .section6-detail-box {
    width: 343px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-content-detail .section6-detail-box > .text {
    width: 73px;
    font-weight: 700;
    font-size: 12px;
    margin-right: 29px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-content-detail .section6-detail-box > .sub {
    font-weight: 400;
    font-size: 15px;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-content-detail .padding > .sub {
    padding: 0;
  }
  #root .main-page .main-wrapper .main-section6 .section6-wrapper .section6-detail .section6-content-wrapper .section6-content-detail .line > .sub {
    line-height: 25px;
  }
  #root .main-page .main-wrapper .main-section7 {
    display: none;
  }
  #root .main-page .mb {
    display: block;
  }
  #root .main-page .pc {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */