#root {
  .main-page {
    .main-wrapper {
      width: 100%;
      position: relative;

      .main-section1 {
        width: 100%;
        background-image: url(/src/page/img/section1-background.png);
        background-image: -webkit-image-set(
          url(/src/page/img/section1-background.png) 1x,
          url(/src/page/img/section1-background@2x.png) 2x,
          url(/src/page/img/section1-background@3x.png) 3x
        );

        height: 744px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .main-section1-background {
          position: absolute;
          top: 330px;
          width: 100%;
          height: 416px;
          background: linear-gradient(
            360deg,
            #ffffff 0%,
            rgba(255, 255, 255, 0) 100%
          );

          text-align: center;

          .section1-text {
            padding-top: 239px;
            font-weight: 700;
            font-size: 40px;
            line-height: 75px;
          }

          .section1-sub-text {
            font-weight: 700;
            font-size: 25px;
          }
        }
      }

      .main-section2 {
        padding-top: 73px;
        padding-bottom: 52px;

        .section2-wrapper {
          width: 100%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .section2-scroll {
            display: flex;
            flex-direction: column;
            align-items: center;

            .section2-scroll-wrapper {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 70px;
              height: 70px;
              border-radius: 50%;
              background: #f4f5f5;

              & > img {
                width: 32px;
              }
            }

            & > .text {
              margin-top: 5px;
              font-weight: 500;
              font-size: 13px;
              line-height: 20px;
              color: #a9a9a9;
            }
          }

          .section2-logo {
            margin-top: 87px;
            display: flex;
            flex-direction: column;
            align-items: center;

            & > img {
              width: 385px;
              text-align: center;
            }
          }

          .section2-content {
            margin-top: 71px;
            display: grid;
            grid-template-columns: repeat(3, 360px);

            .section2-content-box {
              height: 275px;
              display: flex;
              flex-direction: column;
              align-items: center;

              & > img {
                width: 137px;
                height: 137px;
                margin-bottom: 22px;
              }

              & > .title {
                font-weight: 700;
                margin: 35px 0px 15px 0px;

                font-size: 30px;
              }

              & > .sub {
                font-weight: 500;
                font-size: 20px;
              }
            }
          }

          & > .section2-head {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            margin-top: 145px;
            width: 143px;
            height: 38px;
            background: rgba(0, 0, 0, 0.7);
            border-radius: 23px;
            font-weight: 700;
            font-size: 16px;
          }
        }
      }

      .main-section3 {
        background: #ebe9ee;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .section3-top-img {
          position: absolute;
          top: -2px;
        }

        .section3-background-green {
          width: 100%;
          height: 745px;
          border: 1px solid transparent;
          border-top: 50px;
          background: #2b9649;
          display: flex;
          flex-direction: column;
          align-items: center;

          .section3-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 1060px;

            & > img {
              top: -40px;
              z-index: 10;
              width: 180px;
              height: 1130px;
              position: absolute;
            }

            & > .left-arrow {
              position: absolute;
              top: 350px;
              left: 220px;
            }

            & > .right-arrow {
              position: absolute;
              top: 410px;
              right: 220px;
            }

            .section3-content {
              position: absolute;
              display: grid;
              grid-template-columns: repeat(2, 392px);
              row-gap: 123px;
              column-gap: 400px;
              top: 184px;

              .section3-content-box {
                text-align: center;
                & > img {
                  margin-bottom: 15px;
                  width: 72px;
                }
                & > .text {
                  font-weight: 700;
                  margin-bottom: 15px;
                  font-size: 30px;
                  color: white;
                }
                & > .sub {
                  font-weight: 500;
                  font-size: 20px;
                  color: white;
                }
              }
              .sodium {
                margin-top: 40px;
                & > img {
                  width: 66px;
                }
              }
            }
          }
        }

        .section3-bottom-img {
          & > img {
            width: 100%;
          }
        }
      }

      .main-section4 {
        height: 1659px;

        .section4-wrapper {
          height: 961px;
          background: #eae8ed;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          .section4-content-mb {
            .section4-content-box-mb {
              display: none;
            }
          }

          .section4-back-img {
            display: flex;
            flex-direction: column;
            align-items: center;

            & > .text {
              padding-top: 133px;
              text-align: center;
              font-weight: 300;
              font-size: 50px;

              & > span {
                font-weight: 400;
              }
            }

            & > img {
              margin-top: 115px;
              width: 436px;
            }
          }

          .section4-gradation {
            width: 100%;
            position: absolute;
            top: 961px;
            height: 698px;
            background: linear-gradient(
              180deg,
              #e8e6eb 0%,
              rgba(235, 233, 238, 0) 100%
            );
          }

          .section4-content {
            position: absolute;
            z-index: 10;
            display: grid;
            gap: 30px;
            top: 817px;
            grid-template-columns: repeat(3, 364px);

            .section4-content-box {
              display: flex;
              flex-direction: column;
              align-items: center;
              & > .title {
                margin-bottom: 21px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 349px;
                height: 67px;
                background: rgba(0, 0, 0, 0.8);
                border-radius: 17px;
                color: white;
                font-weight: 400;
                font-size: 23px;
                position: relative;
              }

              .title:after {
                border-top: 40px solid rgba(0, 0, 0, 0.8);
                border-left: 25px solid transparent;
                border-right: 25px solid transparent;
                border-bottom: 0px solid transparent;
                content: "";
                position: absolute;
                bottom: 0px;

                margin-bottom: -40px;
              }

              & > img {
                margin-bottom: 44px;
              }

              & > .sub {
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                text-align: center;
              }
            }
          }
        }
      }

      .main-section5 {
        padding-top: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .section5-head {
          width: 177px;
          height: 38px;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 23px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-weight: 700;
          font-size: 16px;
        }

        .section5-text {
          margin-top: 60px;
          font-weight: 300;
          font-size: 50px;
          line-height: 75px;

          & > span {
            font-weight: 400;
            width: 20px;
          }

          & > .set {
            text-emphasis: filled #2b9649;
          }
        }

        & > .section5-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          position: relative;
          margin-top: 80px;

          .section5-text-box {
            width: 630px;
            height: 139px;
            background: #2b9649;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & > .text {
              text-align: center;
              color: white;
              font-weight: 400;
              font-size: 30px;
              line-height: 45px;

              & > span {
                font-weight: 700;
              }
            }
          }

          & > img {
            top: 135px;
            position: absolute;
            width: 406px;
            left: 50%;
            transform: translate(-50%, 0%);
          }
          & > .arrow-pc {
            display: block;
          }
          & > .arrow-mb {
            display: none;
          }

          .section5-background {
            position: relative;
            width: 100%;
            height: 610px;
            margin-top: 420px;
            background: linear-gradient(
              180deg,
              #ef9279 0%,
              #eac5a6 42.21%,
              #ffffff 90.32%
            );
            z-index: 10;
          }

          .section5-back-circle {
            top: 430px;
            position: absolute;
            width: 441px;
            height: 441px;
            background: #ef9279;
            border-radius: 50%;
          }

          .section5-circle {
            position: absolute;
            top: 357px;
            z-index: 100;
          }

          .section5-set {
            position: absolute;
            top: 600px;
            z-index: 20;
          }
        }
      }

      .main-section6 {
        .section6-wrapper {
          width: 1326px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;

          .section6-text {
            margin-bottom: 62px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .section6-head {
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              font-weight: 700;
              font-size: 16px;
              width: 177px;
              height: 38px;
              background: rgba(0, 0, 0, 0.7);
              border-radius: 23px;
              margin-bottom: 32px;
            }

            & > .text {
              font-weight: 700;
              font-size: 30px;
              line-height: 75px;
            }

            & > .sub {
              font-weight: 500;
              font-size: 20px;
              line-height: 35px;
              text-align: center;
            }
          }

          .section6-content {
            display: flex;
            gap: 26px;
            position: relative;

            .section6-content-box {
              display: flex;
              flex-direction: column;

              align-items: center;

              & > .title {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 20px;
                color: white;
                width: 120px;
                height: 52px;
                background: rgba(43, 150, 73, 0.6);
              }

              & > img {
                margin-bottom: 11px;
              }

              & > .sub {
                font-weight: 500;
                font-size: 20px;
                line-height: 35px;
              }
            }
          }

          .section6-detail {
            margin-top: 184px;
            width: 100%;

            & > .text {
              font-weight: 700;
              font-size: 30px;
              line-height: 75px;
            }

            .section6-content-wrapper {
              display: flex;

              .section6-img {
                width: 484px;
                height: 78px;
                margin-left: 129px;
                margin-right: 172px;
                margin-top: 72px;

                & > img {
                  width: 78px;
                  height: 484px;
                }
              }

              .section6-content-detail {
                padding-bottom: 334px;

                .section6-detail-box {
                  width: 951px;
                  border-top: 1px solid;
                  display: flex;

                  & > .text {
                    margin-left: 10px;
                    width: 152px;
                    margin-right: 22px;
                    padding: 18px 0px 19px 0px;
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 35px;
                  }

                  & > .sub {
                    padding: 18px 0px 19px 0px;
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 35px;
                  }
                }
              }
            }
          }
        }
      }

      .main-section7 {
        .section7-background {
          position: relative;
          width: 100%;
          background-image: url(/src/page/img/section1-background.png);
          background-image: -webkit-image-set(
            url(/src/page/img/section1-background.png) 1x,
            url(/src/page/img/section1-background@2x.png) 2x,
            url(/src/page/img/section1-background@3x.png) 3x
          );

          height: 1164px;
          background-repeat: no-repeat;
          background-size: cover;

          .section7-back-color {
            width: 100%;
            height: 1164px;
            position: absolute;
            background: linear-gradient(
              90deg,
              #2b9649 41.53%,
              rgba(43, 150, 73, 0) 100%
            );

            .section7-wrapper {
              padding-top: 49px;
              padding-left: 66px;

              & > .title {
                font-weight: 700;
                font-size: 30px;
                line-height: 75px;
                color: white;
              }

              & > .text {
                font-weight: 300;
                font-size: 50px;
                line-height: 75px;
                color: white;

                & > span {
                  font-weight: 400;
                }
              }

              .section7-content {
                margin-top: 55px;
                display: flex;
                flex-direction: column;
                gap: 27px;

                .section7-content-input {
                  padding-left: 31px;
                  display: flex;
                  align-items: center;

                  border: 1px solid white;
                  width: 704px;
                  height: 90px;
                  border-radius: 11px;

                  & > .text {
                    width: 87px;
                    margin-right: 32px;
                    font-weight: 700;
                    font-size: 25px;
                    color: white;
                  }

                  & > input::placeholder {
                    font-weight: 400;
                    font-size: 25px;
                    color: rgba(255, 255, 255, 0.6);
                  }

                  & > input {
                    font-weight: 400;
                    font-size: 25px;
                    width: 415px;
                    height: 50px;
                    color: rgba(255, 255, 255, 0.6);
                  }
                }
              }

              .section7-cheak-box {
                cursor: pointer;
                margin-top: 30px;
                display: flex;
                align-items: center;

                & > .cheak-box {
                  margin-right: 16px;
                  width: 18px;
                  height: 18px;
                  background-color: white;
                  border-radius: 3px;
                }

                & > .text {
                  font-weight: 700;
                  font-size: 25px;
                  line-height: 35px;
                  color: white;
                }
              }

              .section7-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #2b9649;
                font-weight: 400;
                font-size: 35px;
                margin-top: 58px;
                width: 328px;
                height: 90px;
                background-color: white;
                border-radius: 11px;
              }
            }
          }
        }
      }
    }
    .mb {
      display: none;
    }
    .pc {
      display: block;
    }
  }
}

@media screen and (max-width: 1439px) {
  #root {
    .main-page {
      .main-wrapper {
        .main-section3 {
          .section3-background-green {
            height: 758px;

            .section3-wrapper {
              width: 960px;

              .section3-content {
                column-gap: 200px;

                .sodium {
                  margin-top: 40px;
                  & > img {
                    width: 66px;
                  }
                }
              }
            }
          }

          .section3-bottom-img {
            & > img {
              height: 436px;
              width: 100%;
            }
          }
        }

        .main-section4 {
          height: 3103px;
          .section4-wrapper {
            .section4-gradation {
              width: 100%;
              position: absolute;
              top: 827px;
              height: 1936px;
            }

            .section4-content {
              gap: 149px;
              top: 817px;
              grid-template-columns: repeat(1, 364px);
            }
          }
        }

        .main-section6 {
          .section6-wrapper {
            width: 100%;

            .section6-text {
              margin-bottom: 155px;

              .section6-head {
                margin-top: 155px;
              }
            }

            .section6-content {
              flex-direction: column;
              align-items: center;
              gap: 118px;
              position: relative;

              .section6-content-box {
                flex-direction: column;
                align-items: center;
                width: 650px;
                height: 264px;
              }
            }

            .section6-detail {
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 268px;

              .section6-content-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;

                .section6-img {
                  width: unset;
                  height: unset;
                  margin-left: unset;
                  margin-right: unset;
                  margin-top: unset;
                  margin-bottom: 109px;
                }

                .section6-content-detail {
                  padding-bottom: 108px;
                }
              }
            }
          }
        }

        .main-section7 {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  #root {
    .main-page {
      .main-wrapper {
        .main-section2 {
          .section2-wrapper {
            .section2-logo {
              & > img {
                width: 279px;
              }
            }

            .section2-content {
              margin-top: 71px;
              display: grid;
              grid-template-columns: repeat(1, 360px);
              gap: 83px;
            }
          }
        }
        .main-section3 {
          .section3-background-green {
            height: 286px;

            .section3-wrapper {
              width: unset;
              & > img {
                width: 72px;
                height: 449px;
              }

              .section3-content {
                display: none;
              }
            }
          }

          .section3-bottom-img {
            & > img {
              height: 155px;
              width: 100%;
            }
          }
          .section3-top-img {
            width: 389px;
          }
        }

        .main-section4 {
          background: #ebe9ee;
          height: 3800px;
          .section4-wrapper {
            .section4-content-mb {
              margin-top: 70px;
              .section4-content-box-mb {
                padding-top: 98px;
                display: flex;
                flex-direction: column;
                align-items: center;

                & > img {
                  margin-bottom: 15px;
                  width: 72px;
                }
                & > .text {
                  font-weight: 700;
                  font-size: 20px;
                  color: #2b9649;
                  margin-bottom: 15px;
                }
                & > .sub {
                  font-weight: 500;
                  color: #2b9649;
                  font-size: 20px;
                }
              }
            }
            .section4-back-img {
              & > .text {
                width: 290px;
                line-height: 65px;
                padding-top: 129px;
              }
              & > img {
                width: 204px;
                height: 146px;
              }
            }
            .section4-gradation {
              display: none;
            }

            .section4-content {
              gap: 124px;
              top: 1917px;
              grid-template-columns: repeat(1, 313px);
            }
          }
        }

        .main-section5 {
          padding-top: 133px;

          .section5-text {
            text-align: center;
            width: 320px;
            margin-top: 42px;
            font-size: 40px;
            line-height: 55px;

            & > .set {
              text-emphasis: unset;
            }
          }

          & > .section5-content {
            margin-top: 99px;

            .section5-text-box {
              width: 347px;
              height: 103px;
              background: #2b9649;

              & > .text {
                font-weight: 400;
                font-size: 20px;
                line-height: 35px;
              }
            }

            & > img {
              top: 101px;
              position: absolute;
              width: 406px;
              left: 50%;
              transform: translate(-50%, 0%);
            }
            & > .arrow-pc {
              display: none;
            }
            & > .arrow-mb {
              display: block;
              height: 205px;
            }

            .section5-background {
              position: relative;
              width: 100%;
              height: 372px;
              margin-top: 320px;
            }

            .section5-back-circle {
              top: 360px;
              position: absolute;
              width: 269px;
              height: 269px;
            }

            .section5-circle {
              top: 325px;
              width: 330px;
            }

            .section5-set {
              position: absolute;
              top: 470px;
              z-index: 20;
              width: 262px;
              height: 152px;
            }
          }
        }

        .main-section6 {
          .section6-wrapper {
            width: 100%;

            .section6-text {
              margin-bottom: 71px;

              .section6-head {
                margin-top: 155px;
              }

              & > .text {
                text-align: center;
                line-height: 45px;
                width: 190px;
              }
              & > .sub {
                margin-top: 21px;
                font-weight: 500;
                font-size: 20px;
                line-height: 35px;

                & > .mb {
                  display: block;
                }
                & > .pc {
                  display: none;
                }
              }
            }

            .section6-detail {
              .section6-content-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;

                .section6-img {
                  width: unset;
                  height: unset;
                  margin-left: unset;
                  margin-right: unset;
                  margin-top: unset;
                  margin-bottom: 109px;
                }

                .section6-content-detail {
                  padding-bottom: 108px;

                  .section6-detail-box {
                    width: 343px;

                    & > .text {
                      width: 73px;
                      font-weight: 700;
                      font-size: 12px;
                      margin-right: 29px;
                    }
                    & > .sub {
                      font-weight: 400;
                      font-size: 15px;
                    }
                  }

                  .padding {
                    & > .sub {
                      padding: 0;
                    }
                  }
                  .line {
                    & > .sub {
                      line-height: 25px;
                    }
                  }
                }
              }
            }
          }
        }

        .main-section7 {
          display: none;
        }
      }
      .mb {
        display: block;
      }
      .pc {
        display: none;
      }
    }
  }
}
